@model MVCStok.Models.Entity.Kategoriler
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adi</label>
        @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.KATEGORIAD,"", new {@style="color:red"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Kategori Ekle</button>

    </div>
</form>
