@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<body>
    
   
    <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="~/Content/DataTables/images/img.png" alt="..." />
            <h1 class="text-white fs-3 fw-bolder">Welcome to Our Product Trakering System </h1>
            <p class="text-white-50 mb-0"></p>
        </div>
    </header>

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Lorem Ipsum</h2>
                    <p class="lead">
                        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                    </p>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor odio ut risus viverra, vitae ornare nibh lacinia. Pellentesque mattis semper ligula, a iaculis velit ultricies et. Proin vitae congue odio, nec maximus erat. Phasellus vel felis nisl. Ut lobortis ultricies semper. Proin fringilla eros nisl, id accumsan mauris ullamcorper sed. Duis ipsum nibh, viverra ut lorem vitae, aliquam mattis ipsum. </p>
                </div>
            </div>
        </div>
    </section>

    <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
       
        <div style="height: 20rem"></div>
    </div>
   
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>You can follow the our new product</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac augue ut augue hendrerit interdum sit amet nec lectus.</p>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac augue ut augue hendrerit interdum sit amet nec lectus. Vivamus lacinia velit nec aliquam efficitur. Etiam rhoncus sem justo, in molestie nulla elementum ut. Pellentesque vehicula sem a enim sodales, in interdum magna bibendum. </p>
                </div>
            </div>
        </div>
    </section>
 
  
</body>

